<%- include ("partials/header.ejs") %>
<%- include ("partials/homenavbar.ejs")%>

<body>
        <br>
        <div class="container">
          <div class="container-fluid">
            <div class="px-lg-5">
              <div class="row">
              <%
                articles.forEach(article=>{%>
                <!-- Gallery item -->
                <div class="col-xl-4 col-lg-4 col-md-6 mb-4">
                  <div class="bg-white rounded shadow-sm"><img src="/image/<%=article.image%>" alt="" class="img-fluid card-img-top">
                    <div class="p-4">
                      <h5> <a href="/<%=article.slug%>" class="text-danger"><%= article.title %></a></h5>
                      <p class="small text-muted mb-0"><%=article.description%></p>
                    </div>
                  </div>
                </div>
                <!-- End -->
                <%})%>
              </div>
            </div>
          </div>
            <hr>
              <a href="/articles/page/2" style="float: right;">Next---</a>
          </div>
</body>

<%-include ("partials/footer.ejs") %>